div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    transition: all;
    transition: 2s;
}

div:hover {
    background-color: red;
    color: white;
    font-size: 20px;
}

div:active {
    background-color: pink;
}